main {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}
audio {
    display: none;
}
.player {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 380px;
    height: 430px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    overflow: hidden;
}
.player .current-song {
    height: 120px;
    padding: 10px;
    display: flex;
    background-color: rgba(255,255,255,0.8);
    z-index: 2;
}
.player .current-song .avatar {
    width: 100px;
    height: 100px;
    padding: 10px;
    text-align: center;
}
.player .current-song .avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.player .current-song .song-controls {
    padding-left: 10px;
    flex: 1;
}
.player .current-song .song-controls h2 {
    margin-bottom: 15px;
    font-size: 20px;
    color: #111;
}
.player .current-song .song-controls .controls {
    display: flex;
    justify-content: space-between;
    padding-right: 40px;
}
.player .current-song .song-controls .controls button {
    outline: none;
    border: none;
    background: transparent;
    color: #111;
    font-size: 20px;
    cursor: pointer;
}
.player .song-list {
    height: calc(100% - 120px);
    background-color: rgba(255,255,255,0.2);
    box-shadow: 0px 8px 32px 0 rgba(32,38,125,0.2);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255,255,255,0.4);
}
.player .song-list::webkit-scrollbar {
    width: 4px;
    background: transparent;
}
.player .song-list::webkit-scroll-thumb {
    width: 4px;
    background: #fff;
}
.player .song-list > div {
    display: flex;
    border-bottom: 1px solid rgba(255,255,255,0.25);
    cursor: pointer;
}
.player .song-list > div .avatar {
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 10px;
}
.player .song-list > div .avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.player .song-list > div .song-details {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.player .song-list > div .song-details h2 {
    font-size: 16px;
    margin: 0px 0px 2px;
    color: #fff;
}
.player .song-list > div .song-details p {
    color: #eee;
    font-size: 15px;
    margin: 0px;
}